#home{
    .owl-stage{
        .owl-item{
            position: relative;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
            .content{
                position: absolute;
                top: 20vw;
                left: 15vw;
                width: 70%;
                text-align: center;
                h4{
                    @include text(#fff,4.2vw,900);
                    letter-spacing: 3px;
                    line-height: 1.1em;
                }
                p{
                    @include text(#d3d8d8,2vw,400);
                    letter-spacing: 1px;
                    line-height: 2em;
                }
            }
        }
    }
    .owl-nav{
        .owl-prev{
            position: absolute;
            top: 25vw;
            left: 0;
            background-color: transparent;
            max-width: 15%;
        }
        .owl-next{
            position: absolute;
            top: 25vw;
            right: 0;
            background-color: transparent;
            max-width: 15%;
        }
    }
}
.owl-theme{
    .owl-dots{
        position: absolute;
        bottom: 5vw;
        width: 100%;
        text-align: center;
        .owl-dot{
            span{
                background: white;
                width: 12px;
                height: 12px;
                margin: 5px 10px;
            }
        }
        .owl-dot.active{
            span{
                background: black;
            }
        }
    }
}